.gif-preview{
	display: inline-block;
	position: relative;
	height: 200px;
	width: 200px;
	
	.glyphicon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 50px;
		opacity: 0.5;
		color: #fff;
	}

	img{
		transition: all 0.3s ease;
		height: 200px;
		width: 200px;
	}
	
	.inset{
		position: absolute;
		bottom: 5px;
		left: 0px;
		width: 100%;
		background-color: #FFF;
		text-align: center;
		opacity: 0.9;
	}

	video{
		height: 200px;
		width: 200px;
		vertical-align: middle;
		background-color: #000
	}
}
