.placeholder-div{
	height: 300px;
	width: 300px;
	background-color: #999;
	margin: 0 auto 20px auto;
}

#progress-bar{
	width: 50%;
	margin: 0 auto;
	// display: inline-block
}

.button-container{
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

#record-button{
	margin-top: 15px;
}

