.placeholder-div{
	height: 200px;
	width: 200px;
	background-color: #999;
	margin: 0 auto 20px auto;
}

#progress-bar{
	width: 50%;
	margin: 0 auto;
	// display: inline-block
}

#record-button{
	margin-left: 43%;
	margin-top: 15px;
}

